@import "../../App.css";

section {
  text-align: center;
  justify-content: center;
  vertical-align: center;
}

.form-container {
  text-align: center;
  justify-content: center;
  margin: 3rem auto;
  width: 90vw;
  border: 1px solid rgb(218, 218, 218);
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 5px #e5e5e5;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.field-group {
  padding: 0.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.field-group label {
  padding: 0.5rem;
}

.field-group input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid #a5a5a5;
  transition: var(--mainTransition);
}

.field-group input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  outline: none;
  border-color: var(--primaryColor);
}

form button {
  width: 95%;
  background-color: var(--primaryColor);
  color: #fff;
  padding: 0.6rem 0;
  margin: 1.5rem 0;
  border: none;
  border-radius: 0.3rem;
  transition: var(--mainTransition);
  box-shadow: 1px 2px 5px #5d6fc5;
}

form button:hover {
  background-color: #5d6fc5;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .form-container {
    width: 30rem;
    padding: 1rem 1.5rem;
  }
}
